@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Sacramento&display=swap');

body {
    background-color:#F2F2F2;
    max-width: 100%;
    margin:0 auto;
    text-align: center;
}

header{
    text-align: center;
    margin:auto;
    margin-top: 8%;
    margin-left: 3%;
}

header img:hover {
    opacity:0.5
}

nav{
    position:fixed;
    top: 0px; 
    left: 0px; 
    max-width: 25%;
    height: 100vh;  
    border: 2px solid #687658;
    padding: 0 1%;
    overflow-y: scroll;
    
}
div h1 {
    font-family: "Montserrat Alternates", sans-serif;
  font-weight: 100;
  font-style: normal;
  text-align: center;
  font-size: small;
}
section h2{
    font-family: "Montserrat Alternates", sans-serif;
  font-weight: 300;
  font-style: normal;
  text-align: center;
  font-size:larger;
}

h3{ 
    font-family: "Quicksand", sans-serif;
    font-size:x-large;
  font-weight:300;
  font-style: normal;
  text-align: center;
  border: 3px solid #687658;
  width: 40%;
 padding: 2%;
}

main{
max-width: 65%;
margin-left:30%;
padding: 3%;
display: flex;
flex-direction: column;
justify-content:space-around;
align-items: center;
}

p{
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight:400;
    font-style: normal;
}



section{
    margin:2%;
    padding: 3%;
}

section img{ 
    background-color: #BFBFB8;
    border-radius: 15px;
}




footer{
    text-align:center;
    padding-left: 30%;
    padding-bottom: 4%;
    font-family: "Sacramento", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 25pt;    
}



#friends {
    background-color: #D9D9D9;
    padding:0.5%; 
    border-radius: 10px;
    height: 40vh; 
    overflow-y: scroll;
    
}

#music {
    height:fit-content;
    text-align: center;
}

#music img{
    border-radius: 20px;
}

#quote img{
    padding: 2%;
    border-radius: 20px;
}

 nav #logo img:hover{
    opacity: 0.5;
 }

 #logo {
    top: 0px; 
    left: 0px; 
    align-content: center;
 }
 
 #trio1{
    display: flex;
    justify-content:center;
    flex-direction: row;
    background-color: #BFBFB8;
    max-width: 100%; 
 }

 #trio1 p{
    text-align: center;
 }

 #trio1 img {
    max-width: 100%;
    padding-left: 5%;
    align-content: center;
    margin-left: 3%;
 }


 #trio2{
    display: flex;
    justify-content:center;
    flex-direction: row;
    background-color: #BFBFB8;
    max-width: 100%; 

 }

 #trio2 img {
    max-width: 100%;
    padding: 2%;
    border-radius: 20px;
    align-content: center;
    margin-left: 3%;
 }

 #trio2 video{
    border-radius: 20px;
 }

 #trio2 p{
    text-align: center;
 }

 #insta p{ 
    text-align: center;
 }
#tiktok p{
    text-align: center;
}

 #pinterest{
   background-color: #BFBFB8;
    padding: 2%; 
    width: 100%; 
    text-align: center;

 }

 #notion {
    background-color: #BFBFB8;
    padding: 2%; 
    width: 100%; 
    text-align: center;
 }



 #septemberfavs{
    background-color: #BFBFB8;
    padding: 2%; 
    width: 100%; 
    text-align: center;
 }


a{
    text-decoration: none;
    color:#262625;
    font-family: "Montserrat Alternates", sans-serif;
  font-weight: 100;
  font-style: normal;
  text-align: center;
  font-size: small;
}
 
a:hover{ 
    color: #687658;
    opacity: 0.5;
}

h1:hover{
    color: #687658;
    opacity: 0.5;
}

 